*{
    margin: 0;
    padding: 0;
}

body {
    background: #FCF3D7;
    font-family: 'Abyssinica SIL', serif;
}

p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.introduction-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}



