*{
    margin: 0;
    padding: 0;
}

body {
    background: #FCF3D7;
    font-family: 'Abyssinica SIL', serif;
}

p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.introduction-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;

}

.introduction-name h1{
    font-size: 80px;
    font-weight: 900;
}

.introduction-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.introduction-text {
    margin-top: 10px;
}

.work-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60 px;

}

.work-header h1{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}

.work-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.podcasts {
    background: #FFFFFF;
    padding: 30px;
    width: 390px;
    border-radius: 10px;
}

.sports-analytics {
    background: #FFFFFF;
    padding: 30px;
    width: 390px;
    border-radius: 10px;
}




